* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: var(--second-vert);
}

.carousel-cell.is-selected {
  background: var(--mon-rouge);
}

/* cell number */
.carousel-cell {
  display: block;
  border: solid 8px white;
  color: white;
}

.carousel-cell .card {
    height: 100%;
}
.carousel-cell .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.carousel-cell .content .meta {
  padding: 0 5px 0 5px;
  font-family: var(--inclusion);
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.carousel-cell .content .meta > span.right {
  display: block;
  text-align: right;
}
.carousel-cell .content .description {
  margin-top: -19px;
  height: 100%;
  text-align: center;
  font-size: 33px;
  font-family: var(--citation);
  transform: rotate(-7deg);
  display: flex;
  align-items: center;
  justify-content: center
}


.flickity-button {
  display: none;
}

.flickity-page-dots {
  display: none;
}


